* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
}

.container {
  background-color: #ecf2f8;
  padding: 75px 25px;
  display: grid;
  grid-column: auto;
  gap: 25px;
}
.container .card {
  background-color: white;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px #c7d9ea;
}
.container .card .person {
  display: flex;
  align-items: center;
}
.container .card .person img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.container .card .person .identity {
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 17px;
}
.container .card .person .identity .name {
  font-size: 14px;
  line-height: 1;
}
.container .card .person .identity .title {
  font-size: 12px;
  line-height: 1;
}
.container .card h3 {
  font-size: 21px;
  padding-top: 20px;
}
.container .card p {
  padding-top: 20px;
  line-height: 1.5;
}
.container .primary {
  background: url(../images/bg-pattern-quotation.svg) no-repeat top 0px right 20px/33%;
  background-color: #7541c8;
}
.container .primary .person img {
  width: 32px;
  height: 32px;
  border: 2px solid rgba(255, 255, 255, 0.3);
}
.container .secondary {
  background-color: #48556a;
}
.container .tertiary {
  background-color: #19212e;
}
.container .tertiary .person img {
  width: 32px;
  height: 32px;
  border: 2px solid #9269d3;
}
.container .primary,
.container .secondary,
.container .tertiary {
  color: white;
}
.container .primary .title,
.container .secondary .title,
.container .tertiary .title {
  color: rgba(255, 255, 255, 0.5);
}
.container .primary p,
.container .secondary p,
.container .tertiary p {
  color: rgba(255, 255, 255, 0.7);
}

footer {
  font-size: 11px;
  padding: 20px;
  text-align: center;
  background-color: white;
}
footer a {
  color: #3e52a3;
}

@media screen and (min-width: 650px) and (max-width: 1366px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto auto auto;
    padding: 10vh calc((100vw - 600px) / 2);
  }
  .container .primary {
    grid-area: 1/1/2/3;
    background: url(../images/bg-pattern-quotation.svg) no-repeat top 0px right 100px/18%;
    background-color: #7541c8;
  }
  .container .secondary {
    grid-area: 2/1/2/2;
  }
  .container .tertiary {
    grid-area: 4/1/5/3;
  }
  .container .card:last-child {
    grid-area: 2/2/4/3;
  }
}
@media screen and (min-width: 1367px) {
  .container {
    padding: 13.98vh calc((100vw - 1150px) / 2);
    grid-template-columns: 0.8fr 1fr 0.8fr 0.75fr;
    grid-template-rows: 1fr auto;
  }
  .container .card h3 {
    font-size: 22px;
  }
  .container .primary {
    grid-area: 1/1/2/3;
    background: url(../images/bg-pattern-quotation.svg) no-repeat top 0px right 100px/18%;
    background-color: #7541c8;
  }
  .container .tertiary {
    grid-area: 2/2/3/4;
  }
  .container .card:last-child {
    grid-area: 1/4/3/5;
  }

  footer {
    padding: 27px 0 0 0;
  }
}/*# sourceMappingURL=style.css.map */